* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.hero {
  background-color: #1F2937;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header {
  height: 300 px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.links {
  font-size: 18px;
  color: #E5E7EB;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.link,
.link:visited,
.link:hover,
.link:focus,
.link:active {
  text-decoration: none; 
  text-decoration: none;
  color: #E5E7EB;
}

.section-1 {
  width: 80%;
  display: flex;
  padding: 100px 10px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.left-side {
  flex: 1;
}
.topimg {
  flex: 1;
  height: auto;
  width: 40%;
}

.h1 {
  font-size: 48px;
  font-weight: 900px;
  color: #F9FAF8;
}

.text-1 {
  font-size: 18px;
  color: #E5E7EB;
  margin: 20px 0px;
}

.signup {
  border: 2px;
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 10px 20px;
  border-radius: 5px;
}

.h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
  padding: 40px;
}

.image {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.img-text {
  width: 200px;
  font-size: 18px;
  color: #5e5e5e;
  margin-top: 30px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
  margin: 20px;
  margin-bottom: 100px;
}

.section-3 {
  background-color: #E5E7EB;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  font-weight: light;
  width: 60%;
}

.quoted {
  align-self: flex-end;
  font-size: 24px;
  margin: 10px 20%;
}